.ditails-card {
  display: flex;
  flex-direction: column;

  width: 288px;
  height: 200px;
  color: var(--color-black);
  border-radius: var(--border-radius);
  overflow: hidden;

  &--green {
    .ditails-card__header {
      background-color: var(--color-green-light);
    }
    .ditails-card__footer {
      background-color: var(--color-green);
    }
  }

  &--violet {
    .ditails-card__header {
      background-color: var(--color-violet-light);
    }
    .ditails-card__footer {
      background-color: var(--color-violet);
    }
  }

  &--orange {
    .ditails-card__header {
      background-color: var(--color-orange-light);
    }
    .ditails-card__footer {
      background-color: var(--color-orange);
    }
  }

  &--current {
//    flex-direction: row;
    height: 288px;
    width: 200px;

    .ditails-card__header {
//      writing-mode: horizontal-tb;
//      display: flex;
//      flex-direction: column-reverse;
//      justify-content: stretch;
//      align-items: stretch;
    }
  }

  &__number {
    font-size: 20px;
    font-weight: 800;
  }

  &__header,
  &__footer {
    align-items: center;
    padding: var(--padding-size);
  }

  &__header {
    height: 63.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    & > :nth-child(even) {
      justify-self: end;
    }

    &-icon {
      width: 34px;
      height: 27px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    &-icon {
      width: 55px;
      height: 17px;
    }
  }
}