.sidebar {
  grid-area: aside;

  display: flex;
  flex-direction: column;
  row-gap: 36px;
  border-right: var(--border);
  overflow: auto;

  @include minheight {
    row-gap: 16px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    margin-top: auto;

    @include minheight {
      row-gap: 10px;
    }
  }
}