.sidebar {
  position: sticky;
  top: var(--height-header);
  left: 0;
  display: flex;
  height: calc(100dvh - var(--height-header));
  border-right: var(--border);
  flex-direction: column;
  grid-area: aside;
  row-gap: 36px;

  overflow: visible;

  @include tablet {
    &.container {
      padding-inline: 0;
    }
  }

  @include minheight {
    row-gap: 16px;
  }

  &__footer {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: auto;
    row-gap: 20px;

    @include minheight {
      row-gap: 10px;
    }
  }
}
