.sidebar {
  position: sticky;
  top: 0;
  grid-area: aside;

  display: flex;
  flex-direction: column;
  row-gap: 36px;
  border-right: var(--border);
  height: calc(100vh - var(--height-header));

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    margin-top: auto;
  }
}