.badge {
  display: inline-flex;
  font-size: 10px;
  color: var(--color-white-10);
  background-color: var(--color-grey-10);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding-block: 2px;
  padding-inline: 8px;

  &--bright {
    color: var(--color-black);
    background-color: var(--color-violet-light);
  }
}
