.button {
  display: inline-flex;
  text-align: center;
  border: 1px solid transparent;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  justify-content: center;
  user-select: none;

  &.sidebar__button {
    @include tablet {
      width: 44px;
      height: 44px;

      & + .badge {
        display: none;
      }

      .button__label {
        @include visually-hidden;
      }
    }
  }

  &--rounded {
    background-color: var(--color-green-light);
    border-radius: var(--border-radius);
    column-gap: 4px;
    padding-block: 4px;
    padding-inline: 16px;

    @include hover {
      border: var(--border);
    }
  }

  &--card {
    width: var(--cardWidth);
    min-height: var(--cardHeight);
    color: inherit;
    background-color: transparent;
    border: var(--border-dashed);
    border-radius: var(--border-radius);
    column-gap: 4px;

    @include hover {
      border: 1px solid var(--color-white-10);
    }

    @include mobile {
      --cardWidth: 271px;
    }
  }

  &:active {
    scale: 1.05;
  }
}
