.details-balance {
  display: flex;
  height: 150px;
  color: var(--color-black);
  border-radius: var(--border-radius);
  justify-content: space-between;
  overflow: hidden;

  &__left {
    display: flex;
    padding: var(--padding-size);
    background-color: var(--color-green-light);
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    padding: 20px;
    background-color: var(--color-green);
    background-image: url("@/assets/images/background-decor.svg");
    background-position: 70% 50%;
    align-items: end;
    background-repeat: no-repeat;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: end;
  }
}
