.nav-section {
  &__title {
    margin-bottom: 24px;

    @include tablet {
      @include visually-hidden;
    }
  }

  &__list {
    display: grid;
    row-gap: 20px;

    &-item {
      display: inline-flex;
      align-items: center;
      column-gap: 8px;
      justify-content: space-between;
    }
  }
}
