.definition-item {
  display: grid;
  row-gap: 4px;

  &__icon {
    display: flex;
    width: 48px;
    height: 48px;
    color: var(--color-black);
    border-radius: 8px;
    align-items: center;
    grid-area: icon;
    justify-content: center;

    & .icon {
      width: 24px;
      height: 24px;
    }

    &--green {
      background-color: var(--color-green);
    }

    &--violet {
      background-color: var(--color-violet);
    }

    &--orange {
      background-color: var(--color-orange);
    }
  }

  &__term {
    color: var(--color-white-20);
  }

  &__details {
    font-size: 24px;
    font-weight: 600;
  }

  &:has(.definition-item__icon) {
    align-items: center;
    column-gap: 16px;
    grid-template-areas:
      "icon term"
      "icon details";
    grid-template-columns: auto 1fr;

    .definition-item__term {
      grid-area: term;
    }

    .definition-item__details {
      grid-area: details;
    }
  }
}
