html, body {
//  height: 100dvh;
//  overflow: hidden;
}

body {
  font-family: var(--font-family-base), sans-serif;
  font-weight: 500;
  color: var(--color-white-10);
  background-color: var(--color-black);
  transition-duration: var(--transition-duration);
}

h2, .h2 {
  color: var(--color-white-20);
  font-size: 12px;
  text-transform: uppercase;
}
h3, .h3 {
  font-size: 16px;
  font-weight: 700;
}
h4, .h4 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a,
button,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-white-20);
  }

  &[class] {
    text-decoration: none;
  }
}

strong {
  font-size: 24px;
}

:focus-visible {
  @include focus-visible;
}