html, body {
  height: 100dvh;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-columns: minmax(44px, 220px) 1fr;
  grid-template-rows: var(--height-header) 1fr;
  grid-template-areas:
      'header header'
      'aside main';

  font-family: var(--font-family-base), sans-serif;
  font-weight: 500;
  color: var(--color-white-10);
  background-color: var(--color-black);
//  height: 100dvh;
  transition-duration: var(--transition-duration);
}

h2, .h2 {
  color: var(--color-white-20);
  font-size: 12px;
}
h3, .h3 {
  font-size: 16px;
  font-weight: 700;
}

a,
button,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-white-20);
  }

  &[class] {
    text-decoration: none;
  }
}

strong {
  font-size: 24px;
}

:focus-visible {
  @include focus-visible;
}