.container {
  width: 100%;
  padding-inline: var(--padding-size);


  &:not(.container--header) {
    padding-block: var(--padding-size);
  }
}

.wrapper {
  max-width: var(--container-width);
  margin-inline: auto;
  width: 100%;

  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: var(--height-header) 1fr;
  grid-template-areas:
      'header header'
      'aside main';
  border-inline: var(--border);
  position: relative;

  @include tablet {
    grid-template-columns: fit-content(220px) 1fr;
  }
}

.border-wrapper {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding-size);
}

.visually-hidden {
  @include visually-hidden;
}