.container {
  width: 100%;
  padding-inline: var(--padding-size);

  &:not(.container--header) {
    padding-block: var(--padding-size);
  }
}

.wrapper {
  position: relative;
  display: grid;
  width: 100%;
  max-width: var(--container-width);
  border-inline: var(--border);
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-columns: 220px 1fr;
  grid-template-rows: var(--height-header) 1fr;
  margin-inline: auto;

  @include tablet {
    grid-template-columns: fit-content(220px) 1fr;
  }
}

.border-wrapper {
  padding: var(--padding-size);
  border: var(--border);
  border-radius: var(--border-radius);
}

.visually-hidden {
  @include visually-hidden;
}
