:root {
  --color-white-10: #fff;
  --color-white-20: #d2d5da;
  --color-black: #262833;
  --color-grey-10: #43454d;
  --color-grey-20: #6c727f;
  --color-green: #73b06f;
  --color-green-light: #e3ece6;
  --color-violet: #a686c4;
  --color-violet-light: #e4d6f3;
  --color-orange: #e9ae79;
  --color-orange-light: #f5ddc8;
  --border: 1px solid var(--color-grey-10);
  --border-dashed: 1px dashed var(--color-grey-10);
  --border-radius: 16px;
  --font-family-base: "Outfit";
  --transition-duration: 0.2s;
  --padding-size: 24px;
  --height-header: 72px;
  --container-width: 1350px;
  --cardWidth: 288px;
  --cardHeight: 200px;
  --layout-front: 1000;
  --layout-back: 100;
}
