.content {
  grid-area: main;
  overflow-y: auto;
  scrollbar-width: thin;
  height: 100%;
  display: flex;

  &__hero {
    flex: 1 1 auto;
    min-height: 100%;
    border-right: var(--border);
  }

  &__side {
    flex: 0 1 40.52%;
  }
}

.hero {
  &__card-list {
    & .section__body {
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
    }
  }
}