.header {
  position: sticky;
  top: 0;
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-header);
  border-bottom: var(--border);
  padding-block: 20px;
}