.header {
  position: sticky;
  top: 0;
  z-index: var(--layout-front);
  display: flex;
  background-color: var(--color-black);
  align-items: center;
  border-bottom: var(--border);
  grid-area: header;
  justify-content: space-between;
  padding-block: 20px;

  &__actions {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
  }
}
